/* html, body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
} */
html, body {
    overflow-x: hidden;  
  /* background-color: rgb(242, 242, 242); */
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.formlink {
  position: absolute;
  right: 27%;
}
/* #root {
  flex: 1;
  min-height: 100vh; /* Set minimum height to 100% of the viewport */
/* } */
/* Add this to your CSS file or style tag */
.suggestions-container {
    position: relative;
    z-index: 0;
  }
  .herosection {
    position: relative;
    z-index: -5;
  }
/* Add these styles to your existing styles.css or create a new CSS file */
#footer a {
  color: #A0A0A0;
}
.navbar {
    background-color: #f8f9fa; /* Add your desired background color */
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Adjust the column widths as needed */
    align-items: center;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-item {
    margin-right: 15px; /* Adjust the spacing between nav items */
  }
  a {
    text-decoration: none;
  }
  
  /* Add any additional styling as needed */
  
  
  .suggestions {
    position: absolute;
    top: 100%; /* Position suggestions below the input */
    left: 0;
    width: 100%; /* Make the suggestions span the full width of the container */
    background-color: white; /* Set a background color */
    border: 1px solid #ccc; /* Add a border for visibility */
    max-height: 150px; /* Limit the maximum height of the suggestions */
    overflow-y: auto; /* Add a scrollbar if the suggestions exceed the maximum height */
  }
  
  .suggestions div {
    padding: 8px;
    cursor: pointer;
  }
  .suggestions div:hover {
    background-color: #f0f0f0; /* Highlight the suggestion on hover */
  }
  .whitesection {
    background-color: #fff;
  }
  